{% assign settings = options.settings %}
<h1 class="page-title visually-hidden">Image Converter and Optimizer</h1>
<div class="form-container convert">
  <form class="form convert">
    <div class="drag-area" id="drag-area">
      <p><span class="drag-area-label">Drag files here or</span> <label for="file" class="label upload-label">upload
          manually</label></p>
      <input type="file" class="file-input visually-hidden" id="file" multiple accept="image/*">
    </div>
    <div class="form-input-preview">
      <p>Images to process</p>
    </div>
    <div class="form-controls">
      <details>
        <summary>Options</summary>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Formats</legend>
          {% for format in settings.formats %}
          {% if format[1] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="formats--{{ format[0] }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="format" id="formats--{{ format[0] }}"
              value="{{ format[0] }}" {{ checked }}>
            <span class="checkbox-text">{{ format[0] | replace: 'jpg', 'jpeg' | upcase }}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Scale</legend>
          {% for size in settings.scale %}
          {% if size[1] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="scale--{{ size[0] }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="size" id="scale--{{ size[0] }}" value="{{ size[0] }}"
              {{ checked }}>
            <span class="checkbox-text">{{ size[0] | replace: 'auto', 'Original size' }}{% unless size[0] == "auto"
              %}px{% endunless %}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Resize</legend>
          {% for size in settings.resize %}
          {% if size[1] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="scale--{{ size[0] }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="size" id="scale--{{ size[0] }}" value="{{ size[0] }}"
              {{ checked }}>
            <span class="checkbox-text">{{ size[0]}}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Custom Sizes</legend>
          <input type="text" class="text-input" id="custom-sizes" name="custom_sizes"
            aria-describedby="custom-sizes--help" aria-label="Custom size input">
          <span class="input-help" id="custom-sizes--help">Enter a set of widths or dimensions in pixels separated by
            commas<br>
            (e.g. <code>800,650x500,900</code>)</span>
        </fieldset>
        <details>
          <summary>Advanced</summary>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Fit type</legend>
            {% assign fits = 'cover,contain,fill,inside,outside' | split: ',' %}
            {% for fit in fits %}
            {% if fit == 'cover' %}
            {% assign checked = 'checked' %}
            {% else %}
            {% assign checked = '' %}
            {% endif %}
            <label for="fit-{{ fit }}" class="radio-label">
              <input type="radio" class="visually-hidden" name="fit" id="fit-{{ fit }}" value="{{ fit }}" {{ checked }}>
              <span class="radio-text">{{ fit | capitalize }}</span>
            </label>
            {% endfor %}
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Position</legend>
            <span class="input-help">Select focal point by position or by strategy</span>
            {% assign positions = 'left top,top,right top,left,center,right,left bottom,bottom,right bottom' | split: ',' %}
            <ul class="position-list">
              <li class="positions">
                <span class="label">By position</span>
                <ul>
                  {% for position in positions %}
                  {% assign slug = position | replace: ' ', '-' %}
                  {% if position == 'center' %}
                  {% assign checked = 'checked' %}
                  {% else %}
                  {% assign checked = '' %}
                  {% endif %}
                  <li class="position {{ slug }}">
                    <label class="radio-label" for="position-{{ slug }}">
                      <input type="radio" class="visually-hidden" id="position-{{ slug }}"
                        name="position" value="{{ position }}" {{ checked }}>
                      {{ position }}
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="strategies">
                <span class="label">By strategy</span>
                <ul>
                  <li>
                    <label class="radio-label" for="position-attention">
                      <input type="radio" class="visually-hidden" id="position-attention" name="position" value="attention">
                      Attention
                    </label>
                  </li>
                  <li>
                    <label class="radio-label" for="position-entropy">
                      <input type="radio" class="visually-hidden" id="position-entropy" name="position" value="entropy">
                      Entropy
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Background Color</legend>
            <input type="color" class="color" name="background">
          </fieldset>
        </details>
      </details>
      <p><button class="submit">Convert &raquo;</button></p>
    </div>
  </form>
  <div class="form-output">
    <p>Processed images</p>
    <div class="output"></div>
  </div>
</div>