{% assign settings = options.settings %}
<h1 class="page-title visually-hidden">Image Converter and Optimizer</h1>
<div class="form-container convert">
  <form class="form convert">
    <div class="drag-area" id="drag-area">
      <p><span class="drag-area-label">Drag files here or</span> <label for="file" class="label upload-label">choose
          a file</label></p>
      <input type="file" class="file-input visually-hidden" id="file" multiple accept="image/*">
      <span class="file-input-feedback" id="file-input-feedback"></span>
    </div>
    <div class="form-input-preview">
      <p>Images to process</p>
    </div>
    <div class="form-controls">
      <details>
        <summary>Options</summary>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Formats</legend>
          {% for format in settings.formats %}
          {% if format[1] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="formats--{{ format[0] }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="format" id="formats--{{ format[0] }}"
              value="{{ format[0] }}" {{ checked }}>
            <span class="checkbox-text">{{ format[0] | replace: 'jpg', 'jpeg' | upcase }}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Scale</legend>
          {% assign sortedscales = settings.scale | sortsizes %}
          {% for size in sortedscales %}
          {% if settings.scale[size] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="scale--{{ size }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="size" id="scale--{{ size }}" value="{{ size }}"
              {{ checked }}>
            <span class="checkbox-text">{{ size | replace: 'auto', 'Original size' }}{% unless size == "auto" %}px{% endunless %}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Resize</legend>
          {% assign sortedsizes = settings.resize | sortsizes %}
          {% for size in sortedsizes %}
          {% if settings.resize[size] %}
          {% assign checked = 'checked' %}
          {% else %}
          {% assign checked = '' %}
          {% endif %}
          <label for="scale--{{ size }}" class="checkbox-label">
            <input class="visually-hidden" type="checkbox" name="size" id="scale--{{ size }}" value="{{ size }}"
              {{ checked }}>
            <span class="checkbox-text">{{ size }}</span>
          </label>
          {% endfor %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Custom Sizes</legend>
          <input type="text" class="text-input" id="custom-sizes" name="custom_sizes"
            aria-describedby="custom-sizes--help" aria-label="Custom size input">
          <span class="input-help" id="custom-sizes--help">Enter a set of widths or dimensions in pixels separated by
            commas<br>
            (e.g. <code>800,650x500,900</code>)</span>
        </fieldset>
        <details>
          <summary>Advanced</summary>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Fit type</legend>
            {% for fit in settings.fit.options %}
            {% if fit == settings.fit.value %}
            {% assign checked = 'checked' %}
            {% else %}
            {% assign checked = '' %}
            {% endif %}
            <label for="fit-{{ fit }}" class="radio-label">
              <input type="radio" class="visually-hidden" name="fit" id="fit-{{ fit }}" value="{{ fit }}" {{ checked }}>
              <span class="radio-text">{{ fit | capitalize }}</span>
            </label>
            {% endfor %}
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Position</legend>
            <span class="input-help">Select focal point by position or by strategy</span>
            <ul class="position-list">
              <li class="positions">
                <span class="label">By position</span>
                <ul>
                  {% for position in settings.position.options.positions %}
                  {% assign slug = position | replace: ' ', '-' %}
                  {% if position == 'center' %}
                  {% assign checked = 'checked' %}
                  {% else %}
                  {% assign checked = '' %}
                  {% endif %}
                  <li class="position {{ slug }}">
                    <label class="radio-label" for="position-{{ slug }}">
                      <input type="radio" class="visually-hidden" id="position-{{ slug }}"
                        name="position" value="{{ position }}" {{ checked }}>
                      {{ position }}
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="strategies">
                <span class="label">By strategy</span>
                <ul>
                  {% for strategy in settings.position.options.strategies %}
                    {% if strategy == settings.position.value %}
                      {% assign checked = 'checked' %}
                      {% else %}
                      {% assign checked = '' %}
                    {% endif %}
                    <li>
                      <label class="radio-label" for="position-{{ strategy }}">
                        <input type="radio" class="visually-hidden" id="position-{{ strategy }}" name="position" value="{{ strategy }}" {{ checked }}>
                        {{ strategy |  capitalize }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Background Color</legend>
            <input type="color" class="color" name="background">
          </fieldset>
        </details>
      </details>
      <p><button class="submit">Convert &raquo;</button></p>
    </div>
  </form>
  <div class="form-output">
    <p>Processed images</p>
    <div class="output"></div>
  </div>
</div>