{% if options.input %}
  <div class="preview">
    <img src="{{ options.path }}" class="preview-image" alt="">
    <span class="image-name">{{ options.name }}</span>
    <span class="delete">
      <button class="delete" aria-label="Delete size" title="Delete" type="button"
        data-size="settings.scale.{{ size[0] }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
          <path fill="none" d="M296 64h-80a7.91 7.91 0 0 0-8 8v24h96V72a7.91 7.91 0 0 0-8-8" />
          <path fill="none" d="M292 64h-72a4 4 0 0 0-4 4v28h80V68a4 4 0 0 0-4-4" />
          <path fill="currentColor"
            d="M447.55 96H336V48a16 16 0 0 0-16-16H192a16 16 0 0 0-16 16v48H64.45L64 136h33l20.09 314A32 32 0 0 0 149 480h214a32 32 0 0 0 31.93-29.95L415 136h33ZM176 416l-9-256h33l9 256Zm96 0h-32V160h32Zm24-320h-80V68a4 4 0 0 1 4-4h72a4 4 0 0 1 4 4Zm40 320h-33l9-256h33Z" />
        </svg>
      </button>
    </spanp>
  </div>  
{% elsif options.loading %}
  <div class="preview" id="{{ options.id }}">
    <p>Loading...</p>
  </div>
{% else %}
  <img src="systemfile://{{ options.info.filePath }}" class="preview-image" alt="">
  <p>{{ options.info.info.format | replace: 'heif', 'avif' | upcase }}</p>
  <p>{{ options.info.info.width }} x {{ options.info.info.height }}</p>
  <p>{{ options.info.info.size | formatsize }}</p>
  <a href="{{ options.info.filePath }}" class="preview-link" download aria-label="Download {{ options.info.path.format }} {{ options.info.width }} by {{ options.info.height }}"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-8 4v-5h2v3h12v-3h2v5z"/></svg></a>
{% endif %}