<div class="form-container">
    <form class="form">
        <div class="drag-area" id="drag-area" aria-hidden="true">
            <span class="drag-area-label">Drag files here to upload or</span>
        </div>
        <p><label for="file" class="label">upload files manually:</label></p>
        <p><input type="file" class="form_input--file" id="file"></p>
        <details>
            <summary>Options</summary>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Formats</legend>
                {% for format in settings.formats %}
                    {% if format[1] %}
                        {% assign checked = 'checked' %}
                    {% else %}
                        {% assign checked = '' %}                        
                    {% endif %}
                    <label for="formats--{{ format[0] }}" class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="format" id="formats--{{ format[0] }}" value="{{ format }}" {{ checked }}>
                        <span class="checkbox-text">{{ format[0] |  replace: 'jpg', 'jpeg' | upcase }}</span>
                    </label>
                {% endfor %}
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Scale</legend>
                {% for size in settings.scale %}
                    {% if size[1] %}
                        {% assign checked = 'checked' %}
                    {% else %}
                        {% assign checked = '' %}                        
                    {% endif %}
                    <label for="scale--{{ size[0] }}" class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="size" id="scale--{{ size[0] }}" value="{{ size[0] }}" {{ checked }}>
                        <span class="checkbox-text">{{ size[0] | replace: 'auto', 'Original size' }}{% unless size[1] == "auto" %}px{% endunless %}</span>
                    </label>
                {% endfor %}
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Resize</legend>
                {% for size in settings.resize %}
                    {% if size[1] %}
                        {% assign checked = 'checked' %}
                    {% else %}
                        {% assign checked = '' %}                        
                    {% endif %}
                    <label for="scale--{{ size[0] }}" class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="size" id="scale--{{ size[0] }}" value="{{ size[0] }}" {{ checked }}>
                        <span class="checkbox-text">{{ size[0]}}</span>
                    </label>
                {% endfor %}
            </fieldset>
            <div class="input-container">
                <label for="custom-sizes" class="input-label">Custom Sizes</label><br>
                <input type="text" class="input" id="custom-sizes" name="custom_sizes" aria-describedby="custom-sizes--help">
                <span class="input-help" id="custom-sizes--help">Enter a set of widths or dimensions in pixels separated by commas<br>
                (e.g. <code>800,650x500,900</code></span>
            </div>
        </details>
        <p><button class="submit">Convert &raquo;</button></p>
    </form>
    <div class="form-output">
        <div class="input"></div>
        <div class="output"></div>
    </div>
</div>